
<ion-content>
    <ion-row>
        <ion-col>
            <ion-item>
                <ion-select [(ngModel)]="cityId" (ngModelChange)="onCityChange($event)" interface="popover" placeholder="المحافظه">
                    <ion-option  *ngFor="let city of cities" [value]="city.id">{{city.Name}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item>
                <ion-select [(ngModel)]="branchId" (ngModelChange)="onRestrictChange(cityId,$event)" interface="popover" placeholder="الفرع">
                    <ion-option  *ngFor="let branch of branches" [value]="branch.id">{{branch.Name}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>
    <div #map id="map">
    </div>
</ion-content>
