<ion-content >
  <ion-card class="offer-card " *ngFor="let occasion of occasions"  >
      <ion-row class="date-row {{occasion.OfferStatusCSS}}">
        <ion-col><span>{{occasion.StartDateMonth}} </span><span>/ {{occasion.StartDateDay}}</span></ion-col>
        <ion-col><span [style.width]="occasion.DaysLeftPercentageCSS + '%'"> <span>باقى {{occasion.DaysLeft}} يوم</span> </span></ion-col>
        <ion-col><span>{{occasion.EndDateMonth}} </span><span>/ {{occasion.EndDateDay}}</span></ion-col>
      </ion-row>
      <a (click)="openOfferPage()" >
        <img src="{{occasion.Image[0]}}">
        <span>
          <p>{{occasion.Title}}</p>
          <span>+{{occasion.Image.length-1}}</span>
        </span>
      </a>
      <ion-card-content>
        <span *ngFor="let branch of occasion.Branch">{{branch.Name}} </span>
      </ion-card-content>
    
      <ion-row class="posted-from">
          <ion-col>
    
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col col-8 text-left>
            <ion-note>
              منذ 3 ايام
            </ion-note>
          </ion-col>
        </ion-row>
    </ion-card>
</ion-content>