page-offers {
    .offer-card{
        .date-row{
           color: #fff;
           margin-top: 20px;
           bottom: -4px;
           position: relative;
            & .col:first-child{
               background-color: #ef9300;
               right: 4px;
               &::before{
                   content: "من";
                   right: 12px;
               }
            }
            & .col:nth-child(2){
               padding: 0;
               background-color: #e8e8e8;
               height: 14px;
               top: 3px;
               z-index: 9;
               position: relative;
               & > span{
                background-color: #ef9300;
                width: 50%;
                min-width: 30px;
                display: inline-block;
                position: absolute;
                height: 10px;
                top: calc(50% - 5px);
                right: 0;
                & > span{
                    min-width: 64px;
                    position: absolute;
                    top: -26px;
                    height: 20px;
                    background-color: #e8e8e8;
                    left: -12px;
                    color: #ef9300;
                    font-size: 13px;
                    padding: 2px 7px;
                    display: inline-block;
                    text-align: center;
                    border-radius: 8px;
                    -webkit-box-shadow: 0px 0px 4px #555;
                    box-shadow: 0px 0px 4px #555;
                    &::after{
                        content: '';
                        position: absolute;
                        left: calc(50% - 10px);
                        top: 100%;
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-top: 10px solid #e8e8e8;
                        clear: both;
                    }
                }
            }

            }
            & .col:last-child{
               background-color: rgb(232, 232, 232);
               color: #ef9300;
               left: 4px;
               &::before{
                   content: "إلى";
                   left: 12px;
   
               }
            }
            & .col:last-child,& .col:first-child{
                border-radius: 20px 50px 50px 20px;
                border-bottom-right-radius: 80%;
                border-top-right-radius: 80%;
                height: 20px;
                padding: 1px 7px 0 5px;
                border: 2px solid #e8e8e8;
                text-align: left;
                display: inline-block;
                width: auto;
                flex: none;
                &::before{
                    color: #ef9300;
                    position: absolute;
                    top: -19px;
                    font-size: 14px;
                    font-weight: bold;
    
                }
            }
        }
        a  {
           margin: 5px;
           display: block;
           position: relative;
           min-height: 205px;
           background-image: url("../assets/imgs/def.png");
           background-size: 50%;
           background-repeat: no-repeat;
           background-position: center;
           img{
            min-height: 205px;
            margin: auto;
           }
           & > span {
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            text-align: center;
            height: 100%;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 45%, rgba(0, 0, 0, 0.35), transparent);
            color: #fff;
            padding-top: 40%;
            text-shadow: 1px 1px 9px rgba(0, 0, 0, 1);
            font-family: sans-serif;
            & > span{
                font-size: 20px;
                border: 2px solid;
                padding: 1px 7px;
                border-radius: 30px;
                background-color: rgba(255, 255, 255, 0.25);
            }
            & > p {
                color: #fff;
                font-size: 26px;
                text-align: center;
                margin-bottom: 5px;
            }
           }
        }
        .card-content-md {
           padding: 5px;
           text-align: justify;
           span{
            color: #585858;
            background-color: #eaeaea;
            margin: 2px 1px;
            display: inline-block;
            padding: 1px 5px;
            border-radius: 10px;
            font-size: 11px;
            border: 1px solid #ccc;
           }
        }
        .posted-from{
            height: 10px;
            .col{
                top: -15px;
            }
        }
    }
    .offer-ended.date-row{
            color: #fff;
             & .col:first-child{
                background-color: #e44343;
                &::before{
                    color: #e44343;
                }
             }
             & .col:nth-child(2){
                background-color: #e8e8e8;
             }
             & .col:nth-child(2) > span{
                background-color: #e44343;
                width: 100%;
                & > span{
                    background-color: #e8e8e8;
                    color: #e44343;
                    min-width: 45px;
                    &::after{
                        content: '';
                        border-top: 10px solid #e8e8e8;
                    }
                }
             }
             & .col:last-child{
                color: #fff;
                background-color: #e44343;
                &::before{
                    color: #e44343;
                }
             }
         
            a  {
                & > span {
                    color: #fff;
                }
            }

    }
}
   