<ion-content >
  <span class="back-icon" (click)="goBack()"><ion-icon name="ios-arrow-back"></ion-icon></span>
  <ion-row class="in-title">
      <p>{{occasionObject.Title}}</p>
  </ion-row>
    <ion-row class="date-row row {{occasionObject.OfferStatusCSS}}">
        <ion-col><span>{{occasionObject.StartDateMonth}} </span><span>/ {{occasionObject.StartDateDay}}</span></ion-col>
        <ion-col><span [style.width]="occasionObject.DaysPastPercentageCSS + '%'"> <span>باقى {{occasionObject.DaysLeft}} يوم</span> </span></ion-col>
        <ion-col><span>{{occasionObject.EndDateMonth}} </span><span>/ {{occasionObject.EndDateDay}}</span></ion-col>
      </ion-row>
      <ion-row class="in-title">
          <span *ngFor="let branch of occasionObject.Branch">{{branch.Name}} </span>
      </ion-row>
  <ion-card *ngFor="let cssStyle of StyleCSSArry">
      <img-loader src="{{cssStyle['imgUrl']}}" useImg></img-loader>
      <ion-row class="in-action">
          <ion-col>
            <button (click)="addFav(cssStyle['imgUrl'], cssStyle['elemNo'])" ion-button icon-right clear small [ngClass]="cssStyle['CSSStyle']">
              <ion-icon name="heart"></ion-icon>
              <div>مفضله</div>
            </button>
          </ion-col>
          <ion-col>
            <button (click)="shareOffer(cssStyle['imgUrl'])" ion-button icon-right clear small>
              <ion-icon name="share"></ion-icon>
              <div>مشاركه</div>
            </button>
          </ion-col>
      </ion-row>
  </ion-card>
</ion-content>
