fav {
    ion-card{
        border: 3px solid #f1f1f1;
        border-radius: 5px;
        padding-bottom: 50px;
        position: relative;
        min-height: 250px;
        background-image: url(../assets/imgs/def.png) !important;
        background-size: 50% !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        img{
            border-radius: 5px;

        }
        ion-row{
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
        }
        .in-action{
            ion-col{
                text-align: center;
                .button-clear-md{
                    color: #616770;
                }
            }
        }
    }
    .no-fav{
        margin-top: 30vh;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        color: #f7921c;
    }
}

